<h1><%= title %></h1>

<p class="lead statement">
  <%= field_statement %>
</p>

<div class="recipe">
  <div class="form-group">
    <textarea class="form-control" rows="3" id="recipe" readonly><%= field_code %></textarea>
  </div>
  <h3> Read Me </h3>
  <blockquote class="install-instructions">
    <p> <%= field_readme %> </p>
  </blockquote>

</div>
